<section class="example-section">
  <mat-checkbox class="example-margin" id="check-me-checkbox">Check me!</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="true" id="disabled-checkbox">Disabled</mat-checkbox>
</section>

<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox
      class="example-margin"
      [checked]="allComplete"
      [color]="task.color"
      [indeterminate]="someComplete()"
      (change)="setAll($event.checked)"
      id="indeterminate-checkbox"
    >
      {{ task.name }}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox
          [(ngModel)]="subtask.completed"
          [color]="subtask.color"
          (ngModelChange)="updateAllComplete()"
          [id]="subtask.color + '-checkbox'"
        >
          {{ subtask.name }}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section>
