<section>
  <div class="example-label" id="basicLabel">Basic</div>
  <div class="example-button-row">
    <button mat-button id="basicButton">Basic</button>
    <button mat-button color="primary" id="basicPrimaryButton">Primary</button>
    <button mat-button color="accent" id="basicAccentButton">Accent</button>
    <button mat-button color="warn" id="basicWarnButton">Warn</button>
    <button mat-button disabled id="basicDisabledButton">Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank" id="basicLinkButton">Link</a>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label" id="raisedLabel">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button id="raisedButton">Basic</button>
    <button mat-raised-button color="primary" id="raisedPrimaryButton">Primary</button>
    <button mat-raised-button color="accent" id="raisedAccentButton">Accent</button>
    <button mat-raised-button color="warn" id="raisedWarnButton">Warn</button>
    <button mat-raised-button disabled id="raisedDisabledButton">Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank" id="raisedLinkButton">Link</a>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label" id="strokedLabel">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button id="strokedButton">Basic</button>
    <button mat-stroked-button color="primary" id="strokedPrimaryButton">Primary</button>
    <button mat-stroked-button color="accent" id="strokedAccentButton">Accent</button>
    <button mat-stroked-button color="warn" id="strokedWarnButton">Warn</button>
    <button mat-stroked-button disabled id="strokedDisabledButton">Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank" id="strokedLinkButton">Link</a>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label" id="flatLabel">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button id="flatButton">Basic</button>
    <button mat-flat-button color="primary" id="flatPrimaryButton">Primary</button>
    <button mat-flat-button color="accent" id="flatAccentButton">Accent</button>
    <button mat-flat-button color="warn" id="flatWarnButton">Warn</button>
    <button mat-flat-button disabled id="flatDisabledButton">Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank" id="flatLinkButton">Link</a>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>bookmark</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<mat-divider />
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="example-label" id="extendedFabLabel">Extended Fab</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab extended id="extendedFabButton">
          <mat-icon>favorite</mat-icon>
          Basic
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab extended color="primary" id="extendedFabPrimaryButton">
          <mat-icon>favorite</mat-icon>
          Primary
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab extended color="accent" id="extendedFabAccentButton">
          <mat-icon>favorite</mat-icon>
          Accent
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab extended color="warn" id="extendedFabWarnButton">
          <mat-icon>favorite</mat-icon>
          Warn
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab extended disabled id="extendedFabDisabledButton">
          <mat-icon>favorite</mat-icon>
          Disabled
        </button>
      </div>
      <div class="example-button-container">
        <a mat-fab extended routerLink="." id="extendedFabLinkButton">
          <mat-icon>favorite</mat-icon>
          Link
        </a>
      </div>
    </div>
  </div>
</section>
