@use '@angular/material' as mat;
@use 'base' as base;

$primary-palette: (
  50: #e7f2ff,
  100: #cce5ff,
  200: #91ffcd,
  300: #65b2ed,
  400: #4797d1,
  500: #257db5,
  600: #006496,
  700: #005784,
  800: #004b72,
  900: #003350,
  A100: #91cdff,
  A200: #65b2ed,
  A400: #4797d1,
  A700: #257db5,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$secondary-palette: (
  50: #edf1f5,
  100: #dfe3e7,
  200: #c3c7cb,
  300: #a7acb0,
  400: #8d9195,
  500: #73787b,
  600: #5a5f62,
  700: #4e5356,
  800: #43474b,
  900: #2c3134,
  A100: #c3c7cb,
  A200: #a7acb0,
  A400: #8d9195,
  A700: #73787b,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: white,
    A700: white,
  ),
);

$tertiary-palette: (
  50: #ffeedf,
  100: #ffddba,
  200: #f9bb73,
  300: #daa05b,
  400: #bd8644,
  500: #9f6c2d,
  600: #835416,
  700: #754909,
  800: #663d00,
  900: #482a00,
  A100: #f9bb73,
  A200: #daa05b,
  A400: #bd8644,
  A700: #9f6c2d,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: white,
    A700: white,
  ),
);

$neutral-palette: (
  50: #eff1f6,
  100: #e0e2e7,
  200: #c4c7cb,
  300: #a9abb0,
  400: #8e9196,
  500: #74777c,
  600: #5b5f63,
  700: #4f5357,
  800: #44474b,
  900: #2d3135,
  A100: #c4c7cb,
  A200: #a9abb0,
  A400: #8e9196,
  A700: #74777c,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: white,
    A700: white,
  ),
);

$neutral-variant-palette: (
  50: #eaf1fb,
  100: #dce3ed,
  200: #c0c7d1,
  300: #a4acb5,
  400: #8a919a,
  500: #707880,
  600: #575f67,
  700: #4c535b,
  800: #40484f,
  900: #2a3139,
  A100: #c0c7d1,
  A200: #a4acb5,
  A400: #8a919a,
  A700: #707880,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: white,
    A700: white,
  ),
);

$error-palette: (
  50: #ffedea,
  100: #ffdad6,
  200: #ffb4ab,
  300: #ff897d,
  400: #ff5449,
  500: #de3730,
  600: #ba1a1a,
  700: #a80710,
  800: #93000a,
  900: #690005,
  A100: #ffb4ab,
  A200: #ff897d,
  A400: #ff5449,
  A700: #de3730,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: white,
  ),
);

@mixin define-legacy-theme() {
  @debug 'Executing ngx-example-theme mixin: define-legacy-theme';
  $dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: mat.define-palette($primary-palette, A100),
        accent: mat.define-palette($tertiary-palette, A100),
        warn: mat.define-palette($error-palette, 200),
      ),
      // Only include `typography` and `density` in the default dark theme.
      typography: mat.define-typography-config(),
      density: 0,
    )
  );
  $light-theme: mat.define-light-theme(
    (
      color: (
        primary: mat.define-palette($tertiary-palette, 600),
        accent: mat.define-palette($primary-palette, 600),
        warn: mat.define-palette($error-palette, 600),
      ),
    )
  );

  @include base.set-mat-component-themes($dark-theme, $light-theme);
}

@mixin define-m2-theme() {
  @debug 'Executing ngx-example-theme mixin: define-m2-theme';
  $dark-theme: mat.m2-define-dark-theme(
    (
      color: (
        primary: mat.define-palette($primary-palette, A100),
        accent: mat.define-palette($tertiary-palette, A100),
        warn: mat.define-palette($error-palette, 200),
      ),
      // Only include `typography` and `density` in the default dark theme.
      typography: mat.m2-define-typography-config(),
      density: 0,
    )
  );
  $light-theme: mat.m2-define-light-theme(
    (
      color: (
        primary: mat.define-palette($tertiary-palette, 600),
        accent: mat.define-palette($primary-palette, 600),
        warn: mat.define-palette($error-palette, 600),
      ),
    )
  );

  @include base.set-mat-component-themes($dark-theme, $light-theme);
}
